.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
plharvey_15/.DS_Store
.vscode/settings.json
telescope.csv
lattice_n_100.png
.ipynb_checkpoints/Flat_Lattice-checkpoint.ipynb
plharvey_17/lattice.ipynb
lattice_1.png
lattice_1.png
.DS_Store
.devcontainer/devcontainer.json
plharvey_20/dataset_s1.tsv
plharvey_20/Blood_Meridian_McCarthy.txt
SECURITY.md